@import "variables";

.app-header {
	background-color: $dark-blue;
	padding: 10px;
	color: #f4f4f4;
}

.app-header-inner {
	display: flex;
	justify-content: center;
	align-items: center;
}

.user-profile {
	margin-left: auto;
}