{
	"presets": [
		"@babel/preset-react", 
		["@babel/preset-env", {
      "targets": {
        "browsers": ["last 2 versions"]
      }
    }]
	],

	"plugins": [
		"@babel/plugin-proposal-object-rest-spread",
		["react-css-modules", {
		  "filetypes": {
		    ".scss": {
		      "syntax": "postcss-scss",
		      "plugins": ["postcss-nested"]
		    }
		  },
		  "generateScopedName": "[local]_[hash:base64:5]"
		}],
		"react-hot-loader/babel"
	]
}
