{
	"presets": [
		"@babel/preset-react", 
		["@babel/preset-env", {
      "targets": {
				"browsers": [
					">0.25%",
					"not ie 11",
					"not op_mini all"
				]
      }
    }]
	],

	"plugins": [
		"@babel/plugin-proposal-object-rest-spread",
		"@babel/plugin-syntax-dynamic-import",
		["react-css-modules", {
		  "filetypes": {
		    ".scss": {
		      "syntax": "postcss-scss",
		      "plugins": ["postcss-nested"]
		    }
		  },
		  "generateScopedName": "[local]_[hash:base64:5]"
		}],
		"react-hot-loader/babel"
	]
}
